# Rapidapi
RAPIDAPI_KEY=
BASE_URL=
ALLOWED_CATEGORY_IDS=100030,100032 # Plaquettes de frein, Disques de frein
ALLOWED_SUPPLIER_IDS_PROD=7657,161,30,21,39 # ETF, TRW, BOSCH, VALEO, TEXTAR

# cache
SQLITE_PATH=./data/app.db
SYNC_TTL_DAYS=180

# Exadis
EXADIS_USERNAME=
EXADIS_PASSWORD=
EXADIS_SESSION_TTL_MINUTES=20
EXADIS_TIMEOUT_MS=20000

# cron
WARM_REFRESH_DAYS=30
WARM_MAX_VEHICLES=50
WARM_DELAY_MS=1500
NIGHT_MAX_API_CALLS=60
NIGHT_BACKUPS_KEPT=7

# identifiants
LOGS_PASSWORD=
LOGS_UNLOCK_TTL_HOURS=12
ADMIN_PASSWORD=
ADMIN_UNLOCK_TTL_HOURS=4
AUTH_SECRET=
AUTH_SESSION_TTL_DAYS=7